script(id='create-tweet-modal-template' type='text/html')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Compose new Tweet
			.modal-body
				textarea.form-control.tweet-content(rows='4')
			.modal-footer
				button.btn.btn-primary.pull-right.compose-tweet(data-dismiss='modal') Tweet

