script(id='tweet' type='text/html')
	//.media
	.media-left
		a(href='#')
			img.media-object(width="73px")&attributes({'src':'<%= imageUrl %>'})
	.media-body
		h4.media-heading <%= author %>
		p <%= text %>
		img(src="https://pbs.twimg.com/media/B75xFR9IAAMr9eH.jpg" width='100%')
		.row
			.col-md-2
				button.btn.btn-link
					span.glyphicon.glyphicon-share-alt
			.col-md-2
				button.btn.btn-link
					span.glyphicon.glyphicon-retweet
					span  4
			.col-md-2
				button.btn.btn-link
					span.glyphicon.glyphicon-star
			.col-md-2
				.dropdown
					button.btn.btn-link.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
						span.glyphicon.glyphicon-option-horizontal
					ul.dropdown-menu(aria-labelledby="dropdownMenu1")
						li
							a(href='#') Share via Direct Message