script(id='user-suggestion' type='text/html')
	//.media
	.media-left
		a(href="#")
			img.media-object(src="https://pbs.twimg.com/profile_images/523746093440331776/NWeBm6se_normal.png")
	.media-body
		h5.media-heading <%= name %>
		button.btn.btn-default.btn-sm
			span.glyphicon.glyphicon-user(aria-hidden="true")
			| Читать