doctype html
html
	head
		link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href="index.css")
	body
		html
body
	nav.navbar.navbar-default
		.container
			ul.nav.navbar-nav
				li.active
					a(href='#') Home
				li
					a(href='#') Notifications
				li
					a(href='#') Messages
			ul.nav.navbar-nav.navbar-right
				li
					form.navbar-form.navbar-right(role='search')
						.input-group
							input.form-control(type='text', placeholder='Search Twitter')
							.input-group-btn
								button.btn.btn-default(type='submit') Submit
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						img(height='20' src='https://pbs.twimg.com/profile_images/531414442739646464/Hc6G_ekH_normal.jpeg')
					ul.dropdown-menu
						li
							a(href='#')
								b Sargon Piraev
								br
								small View profile
						li.divider
						li
							a(href='#') Lists
						li.divider
						li
							a(href='#') Help
						li
							a(href='#') Keyboard shortcuts
						li.divider
						li
							a(href='#') Settings
						li
							a(href='#') Log out
				li
					button.btn.btn-primary.navbar-btn.navbar-right Tweet
	.main-region



	//header.canopy
	//	.container
	//		.row
	//			.col-md-2
	//				.thumbnail
	//					img(src='https://pbs.twimg.com/profile_images/531414442739646464/Hc6G_ekH_400x400.jpeg')
	//nav.navbar.navbar-default
	//	.container
	//		.row
	//			.col-md-9.col-md-offset-3
	//				ul.nav.navbar-nav
	//					li.active
	//						a(href='#') Tweets
	//					li
	//						a(href='#') Following
	//					li
	//						a(href='#') Followers
	//				button.btn.btn-default.navbar-btn.pull-right Edit profile

	main.container
		.row
			.col-md-3
				h3
					| Sargon Piraev
					br
					small @sargonpiraev
				.profile
				.trends
					.panel.panel-default
						.panel-body
							h4 Trends
							ul.trends-list.list-unstyled
			.col-md-6
				.panel.panel-info
					.panel-heading
						.input-group
							span.input-group-addon
								img(height='20' src='https://pbs.twimg.com/profile_images/531414442739646464/Hc6G_ekH_normal.jpeg')
							input.form-control
							.input-group-btn
								button.btn.btn-primary Add photos
					ul.list-group
						li.list-group-item View 23 new Tweets
					.panel-body.tweets-block
			.col-md-3
				.who-to-follow
				.stuff.panel.panel-info
					.panel-body
						ul
							li.Footer-item.Footer-copyright.copyright © 2015 Twitter
							li.Footer-item
								a.Footer-link(href='/about') О нас
							li.Footer-item
								a.Footer-link(href='//support.twitter.com') Помощь
							li.Footer-item
								a.Footer-link(href='/tos') Условия
							li.Footer-item
								a.Footer-link(href='/privacy') Конфиденциальность
							li.Footer-item
								a.Footer-link(href='//support.twitter.com/articles/20170514') Файлы cookie
							li.Footer-item
								a.Footer-link(href='//support.twitter.com/articles/20170451') О рекламе
							li.Footer-item
								a.Footer-link(href='//about.twitter.com/press/brand-assets') Бренд
							li.Footer-item
								a.Footer-link(href='https://blog.twitter.com') Блог
							li.Footer-item
								a.Footer-link(href='http://status.twitter.com') Состояние
							li.Footer-item
								a.Footer-link(href='https://about.twitter.com/products') Приложения
							li.Footer-item
								a.Footer-link(href='https://about.twitter.com/careers') Вакансии
							li.Footer-item
								a.Footer-link(href='//ads.twitter.com/start?ref=gl-tw-tw-twitter-advertise') Реклама в Твиттере
							li.Footer-item
								a.Footer-link(href='https://business.twitter.com') Компаниям
							li.Footer-item
								a.Footer-link(href='//media.twitter.com') СМИ
							li.Footer-item
								a.Footer-link(href='//dev.twitter.com') Разработчикам

	include ./template/user-suggestion
	include ./template/trend
	include ./template/user-profile
	include ./template/tweet
	include template/who-to-follow-composite-view-template
	include template/who-to-follow-item-view-template

	include template/home-page-template
	include template/profile-page-template

	script(src='../bower_components/jquery/dist/jquery.js')
	script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
	script(src='../bower_components/underscore/underscore.js')
	script(src='../bower_components/backbone/backbone.js')
	script(src='../bower_components/marionette/lib/backbone.marionette.js')
	script(src='model/UserModel.js')
	script(src='model/TrendModel.js')
	script(src='model/TweetModel.js')
	script(src='collection/UserCollection.js')
	script(src='collection/TrendCollection.js')
	script(src='collection/TweetCollection.js')
	script(src='view/UserSuggestionItemView.js')
	script(src='view/UserSuggestionCollectionView.js')
	script(src='view/TweetItemView.js')
	script(src='view/TweetCollectionView.js')
	script(src='view/TrendItemView.js')
	script(src='view/TrendCollectionView.js')
	script(src='view/UserProfileItemView.js')
	script(src='view/WhoToFollowItemView.js')
	script(src='view/WhoToFollowCompositeView.js')
	script(src='index.js')


