.who-to-follow
	h4
		color: #66757f
		font-size: 18px;
.stuff
	ul
		padding-left 0
		li
			color: #8899a6
			float: left
			padding-right 8px
			list-style: none
			font-size 12px
			a
				color: #8899a6