doctype html
html
	head
		link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href="index.css")
	body
		html
body
	nav.navbar.navbar-default
		.container
			ul.nav.navbar-nav
				li.active
					a(href='#') Home
				li
					a(href='#') Notifications
				li
					a(href='#') Messages
			ul.nav.navbar-nav.navbar-right
				li
					form.navbar-form.navbar-right(role='search')
						.input-group
							input.form-control(type='text', placeholder='Search Twitter')
							.input-group-btn
								button.btn.btn-default(type='submit') Submit
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						img(height='20' src='https://pbs.twimg.com/profile_images/531414442739646464/Hc6G_ekH_normal.jpeg')
					ul.dropdown-menu
						li
							a(href='#')
								b Sargon Piraev
								br
								small View profile
						li.divider
						li
							a(href='#') Lists
						li.divider
						li
							a(href='#') Help
						li
							a(href='#') Keyboard shortcuts
						li.divider
						li
							a(href='#') Settings
						li
							a(href='#') Log out
				li
					button.btn.btn-primary.navbar-btn.navbar-right Tweet
	main.container
		.row
			.col-md-3
				.panel.panel-default
					img(src='https://pbs.twimg.com/profile_banners/2868041297/1415534069/600x200' width='100%')
					.panel-body
						.row
							.col-md-4
								a.thumbnail(href='#')
									img(src='https://pbs.twimg.com/profile_images/531414442739646464/Hc6G_ekH_bigger.jpeg' width='100%')
							.col-md-8
								h4 Sargon Piraev
								small @sargonpiraev
						.row
							.col-md-4
								span Tweets
								br
								b 4
							.col-md-4
								span Following
								br
								b 342
							.col-md-4
								span Followers
								br
								b 39
				.panel.panel-default
					.panel-body
						h4 Trends
						ul.list-unstyled
							li #COYS
							li #НасосБезСмс
							li #PopeInPhilly
							li #3YearsRIPAvalanna
							li De Bruyne
							li #лшфолловятлш
							li Otamendi
							li Aguero
							li Азербайджана
							li Hart

			.col-md-6
				.panel.panel-info
					.panel-heading
						.input-group
							span.input-group-addon
								img(height='20' src='https://pbs.twimg.com/profile_images/531414442739646464/Hc6G_ekH_normal.jpeg')
							input.form-control
							.input-group-btn
								button.btn.btn-primary Add photos
					ul.list-group
						li.list-group-item View 23 new Tweets
					.panel-body
						.media
							.media-left
								a(href='#')
									img.media-object(src='https://pbs.twimg.com/profile_images/643463843541155841/pmMygGUP_bigger.jpg')
							.media-body
								h4.media-heading Imperva Imcapsula
								p Get conversions by understanding buyer personas
								img(src="https://pbs.twimg.com/media/B75xFR9IAAMr9eH.jpg" width='100%')
								.row
									.col-md-2
										button.btn.btn-link
											span.glyphicon.glyphicon-share-alt
									.col-md-2
										button.btn.btn-link
											span.glyphicon.glyphicon-retweet
											span  4
									.col-md-2
										button.btn.btn-link
											span.glyphicon.glyphicon-star
									.col-md-2
										.dropdown
											button.btn.btn-link.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
												span.glyphicon.glyphicon-option-horizontal
											ul.dropdown-menu(aria-labelledby="dropdownMenu1")
												li
													a(href='#') Share via Direct Message
			.col-md-3
				.who-to-follow.panel.panel-info
					.panel-body
						h4 Близкие по духу
						.medias
						
				.stuff.panel.panel-info
					.panel-body
						ul
							li.Footer-item.Footer-copyright.copyright © 2015 Twitter
							li.Footer-item
								a.Footer-link(href='/about') О нас
							li.Footer-item
								a.Footer-link(href='//support.twitter.com') Помощь
							li.Footer-item
								a.Footer-link(href='/tos') Условия
							li.Footer-item
								a.Footer-link(href='/privacy') Конфиденциальность
							li.Footer-item
								a.Footer-link(href='//support.twitter.com/articles/20170514') Файлы cookie
							li.Footer-item
								a.Footer-link(href='//support.twitter.com/articles/20170451') О рекламе
							li.Footer-item
								a.Footer-link(href='//about.twitter.com/press/brand-assets') Бренд
							li.Footer-item
								a.Footer-link(href='https://blog.twitter.com') Блог
							li.Footer-item
								a.Footer-link(href='http://status.twitter.com') Состояние
							li.Footer-item
								a.Footer-link(href='https://about.twitter.com/products') Приложения
							li.Footer-item
								a.Footer-link(href='https://about.twitter.com/careers') Вакансии
							li.Footer-item
								a.Footer-link(href='//ads.twitter.com/start?ref=gl-tw-tw-twitter-advertise') Реклама в Твиттере
							li.Footer-item
								a.Footer-link(href='https://business.twitter.com') Компаниям
							li.Footer-item
								a.Footer-link(href='//media.twitter.com') СМИ
							li.Footer-item
								a.Footer-link(href='//dev.twitter.com') Разработчикам

	include ./template/user-suggestion
	script(src='../bower_components/jquery/dist/jquery.js')
	script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
	script(src='../bower_components/underscore/underscore.js')
	script(src='../bower_components/backbone/backbone.js')
	script(src='../bower_components/marionette/lib/backbone.marionette.js')
	script(src='index.js')


