doctype html
html
	head
		link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='signin.css')
	body
		.container
			.row
				.col-md-offset-4.col-md-4
					form
						h2 Please sign in
						input.inputEmail.form-control(placeholder='Email address')
						input.inputPassword.form-control(type='password', placeholder='Password')
						button.btn.btn-lg.btn-primary.btn-block.signin Sign in

		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='signin.js')


